
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background: #F8F8F8;
	font: 15px Tahoma, Helvetica, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 1062px;
	height: 950px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(190, 190, 190, 1);
	-moz-box-shadow:    0px 2px 5px 0px rgba(190, 190, 190, 1);
	box-shadow:         0px 2px 5px 0px rgba(190, 190, 190, 1);
	background-color: #FFFFFF;
}

/* HEADER */
.header {
	position: relative;
	height: 131px;
	margin: 0 46px;
}
.header a {
	position: absolute;
	left: 0px;
	top: 40px;
	text-decoration: none;
	color: #353535;
	font: 49px Tahoma, Helvetica, sans-serif; 
}


 div.header-menu {
	padding: 0;
	height: 39px;
	width: 970px;
	margin: 0 46px;
	background-color: #525252;
	background: rgb(70, 70, 70);
	background: -moz-linear-gradient(270deg, rgb(70, 70, 70) 29%, rgb(92, 92, 92) 100%);
	background: -webkit-linear-gradient(270deg, rgb(70, 70, 70) 29%, rgb(92, 92, 92) 100%);
	background: -o-linear-gradient(270deg, rgb(70, 70, 70) 29%, rgb(92, 92, 92) 100%);
	background: -ms-linear-gradient(270deg, rgb(70, 70, 70) 29%, rgb(92, 92, 92) 100%);
	background: linear-gradient(0deg, rgb(70, 70, 70) 29%, rgb(92, 92, 92) 100%);
}

.header-menu li {
	display: inline-block;
	list-style: none;
	height: 39px;
}

.header-menu li a{
	display: block;
	height: 39px;
	padding: 0 25px;
	text-decoration: none;
	color: #FFFFFF;
	font: 15px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;
}
	
.header-menu li:nth-child(1) a {
    display: block;
	height: 39px;
	padding: 0 25px;
	margin-right: 37px;
	text-decoration: none;
	color: #FFFFFF;
	font: 15px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;

}

.header-menu li:nth-child(3) a {
    display: block;
	height: 39px;
	padding: 0 30px;
	margin-left: 25px;
	text-decoration: none;
	color: #FFFFFF;
	font: 15px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;

}

.header-menu li:nth-child(4) a {
    display: block;
	height: 39px;
	padding: 0 30px;
	margin-left: 20px;
	text-decoration: none;
	color: #FFFFFF;
	font: 15px Tahoma, Helvetica, sans-serif; 
	line-height: 34px;

}

.header-menu li a:hover{
background: url("../img/bg_bottom.png") no-repeat center;

}


/* CONTAINER */
.container {
	height: 678px;
	margin: 0 46px;
}

/* left-menu */
.left-menu {
	float: left;
	height: 631px;
	width: 240px;
	padding-top: 47px;
	color: #646262;
}

.type-goods {
	border: 1px solid #C7C7C7;
}

.type-goods li {
	display: block;
	list-style: none;
	height: 39px;
	
}

.type-goods li a {
	display: block;
	list-style: none;
	height: 39px;
	padding-left: 24px;
	margin: 1px 0;
	border-bottom: 1px solid #C7C7C7;
	color: #646262;
	text-decoration: none;
	font: 14px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;
}

.type-goods li a:hover {
	padding-left: 36px; 
	border-bottom: 1px solid #C7C7C7;
	background-color: #F8F8F8;
	color: #414141;
} 

/* CONTENT */
.content {
	height: 631px;
	width: 680px;
	padding-top: 47px;
	margin-left: 290px;
}

.frame {
	height: 400px;
	width: 678px;
	border: 1px solid #C7C7C7;
}

#img {
	padding-left: 89px;
	padding-top:  47px;
}

div.content p {
	padding-left: 24px;
	padding-top: 35px;
	color: #4A4A4A;
	font: 13px Tahoma, Helvetica, sans-serif; 
	line-height: 19px;
	word-spacing: 6px;
}
/* END CONTAINER */

/* FOOTER */
div.footer {
	height: 39px;
	width: 970px;
	margin: 0 46px;
	background-color: #E0E0E0;
}

.footer ul{
	float: left;
	width: 783px;
}

.footer li {
	display: inline-block;
	list-style: none;
	height: 39px;
}

.footer li a{
	display: block;
	height: 39px;
	margin: 0 25px;
	text-decoration: none;
	color: #464646;
	font: 13px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;
}
	
.footer li:nth-child(1) a {
    display: block;
	height: 39px;
	margin-left: 25px;
	margin-right: 67px;
	text-decoration: none;
	color: #464646;
	font: 13px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;

}

.footer li:nth-child(3) a {
    display: block;
	height: 39px;
	margin: 0 30px;
	margin-left: 65px;
	text-decoration: none;
	color: #464646;
	font: 13px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;

}

.footer li:nth-child(4) a {
    display: block;
	height: 39px;
	margin: 0 30px;
	margin-left: 60px;
	text-decoration: none;
	color: #464646;
	font: 13px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;

}
.footer li a:hover {
	text-decoration: underline;
} 

div.footer span {
	display: block;
	height:39px;
	color: #464646;
	font: 13px Tahoma, Helvetica, sans-serif; 
	line-height: 35px;
	
}

.clear {
	clear: both;
}
	